.heading{
    color:dodgerblue;
    font-size: 45px;
}


button.brown-pill{
    background-color: rgb(231, 162, 0);
    border: 2px solid rgb(239, 168, 1);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
}

button.brown-pill:hover{
    color:  rgb(239, 168, 1);
    background-color:#ffff;
    border: 2px solid rgb(239, 168, 1);
}


button.blue-pill{
    background-color: blue;
    border: 2px solid blue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
}
button.blue-pill:hover{
    color:  blue;
    background-color: #ffff;
    cursor: pointer;
    border: 2px solid blue;
}

button.green-pill{
    background-color: green;
    border:2px solid  green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
}

button.green-pill:hover{
   color:  green;
    background-color: #ffff;
    cursor: pointer;
    border: 2px solid green;

}
